<%- include('header.html') %>

    <main>
        <h2>

            
            Powered by Treffle

        </h2>


        <div>
            <p>
            This will say some things about treffle

            </p>

            <p>
                This wil say some things about why this app was made
            </p>

            <p>
                this will say some stuff about me and contact information

            </p>


        </div>

    </main>
<!-- 
Powered By Treffle!

Treffle is an open source Plant Database API. It gathers its data from
 multiple sources including th USDA and manual submissions by users!

For more information on Trefle, please visit 

Trefle.io, or email them at hello@trefle.io

---

Mission Statement:

This website was made and designed for kids to help them learn and love plants!



Contact Info:

Feel free to contact me at Dev email?



 -->

<%- include('footer.html') %>