<%- include('header.html') %>

    <main>
        <h2>

            
            Powered by Trefle.io

        </h2>


        <div>
            <p>
            Trefle is an open source Plant database API. <br> They gather data from multiple sources in to one
            easy to access location.

            </p>

            <p>
                This app was made with originally to help kids learn about plants and to learn to love the outdoors.
            </p>

            <p>
                For any questions comments or concerns, please contact me at AndrewCroy.dev/

            </p>


        </div>

    </main>
<!-- 
Powered By Treffle!

Treffle is an open source Plant Database API. It gathers its data from
 multiple sources including th USDA and manual submissions by users!

For more information on Trefle, please visit 

Trefle.io, or email them at hello@trefle.io

---

Mission Statement:

This website was made and designed for kids to help them learn and love plants!



Contact Info:

Feel free to contact me at Dev email?



 -->

<%- include('footer.html') %>