
<%- include('header.html') %>

<main>

    <div class = 'head-h1' >
        <h1>
            Planti.API
        </h1>
    </div>
    <hr />

    <form action="./search" method="post"> 

        <label for= " searchBy"> Search By: </label>
        <select name="searchBy">
            <option value = 'common' >Common Name</option>
            <option value = 'regionals' >Location/Region</option>
        </select>	


        <input name = 'userInput' type= 'text' placeholder= "Enter Search Query"> 
        
        <input id ='searchSubmit' type = "submit" value= "Search" />
        
    </form>
    
    <a  href= './info?q=potd' ><button id="potd" >Plant of the Day</button></a>


    <% if (item[0] !== -1) { %>

        <div id="choices">
        <% for (let i of item){ %>

        
        <h2 class= "card" >
            <a  href= <%= `./info?q=${i[1]}` %> >
            <%- (Array.isArray(i))? i[0]: i %>
            </a>
        </h2>

        <% } %>
        </div>
    <% } else {%>
    <h2 class="card"> No Results Found</h2>

    <% } %>





</main>

<%- include('footer.html') %>
