<%- include('header.html') %>
<main>
    

    
    <div>
        <h2>Log In</h2> 

        <form id='loginForm' action="./login" method="post">

            <label for="username"> Enter Username</label>
            <input name='username' type="text" placeholder="Username">

            <label for="userPass">Enter Password</label>
            <input type="password" name="userPass" id="">

            <input id="submitBtn" type="submit" value="Log In">

        </form>
        
        
        
        
        <button id='signUpBtn' >Sign Up</button>



    </div>





</main>

<%- include('footer.html') %>