<%- include('header.html') %>
<main>
    

    
    <div>
        <h2>Log In</h2> 

        <% if(user.message){ %>
             <h3 class="err"> <%=user.message%> </h3> 
        <% } %>
        <form id='loginForm' action="./login" method="post">

            <label for="username"> Enter Username</label>
            <input name='username' type="text" placeholder="Username">

            <label for="userPass">Enter Password</label>
            <input type="password" name="userPass" id="">

            <input id="submitBtn" type="submit" value="Log In">

        </form>
        
        
        
        
        <button id='signUpBtn' >Sign Up</button>
        <p>To Sign up Enter a Username and A password between <br>
            9 and 16 characters and hit the sign up button!</p>


    </div>





</main>

<%- include('footer.html') %>