<%- include('header.html') %>
<main>
    <div>


        <h2>
            Lets Play Guess The Plant!
        </h2>

        <% if(!user.loggedIn){ %>

            <a href="./login">Log In Or Sign Up</a>

        <% } else{ %>
            <a href="./logout">Log out</a>
        <% } %>
    </div>

    <% if (user.loggedIn) { %>

        <h2>
            Welcome <%= user.name %>
        </h2>

        <h3 id="score">
            Your Score is : <%= user.score %>
        </h3>

        <div>


            <label for="quiztype">What version do you want to play</label>
            
          
            <select name="quiztype" id="quizType" >

                <option value="nameguess" >
                    Guess The Name
                </option>

                <option value="picguess">
                    Guess The Picture
                </option>

            </select>

            <button id="startGame">Go!</button>

        </div>







        <div id="game">



            <div id="gameQ"></div>
            <br>
            <br>

            <div id="result"></div>
            
            
            <br>
            <br>
            <div class="answer-container">

            <div class="answer" id="ansA"></div>
            <div class="answer" id="ansB"></div>
            <div class="answer" id="ansC"></div>
            <div class="answer" id="ansD"></div>
            
            </div>
            



        </div>






    <% } %>




</main>

<%- include('footer.html') %>