*{
    box-sizing: border-box;
}

body{
    background: rgb(255, 253, 247);
    
}

a{
    color: black;
    text-decoration: none;
}
nav{
    margin: .5rem;
    padding:.5rem;
}
button{
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.493);
    border-radius: 4px;


}
form{
    background: rgba(255, 255, 255, 0.192);
}
form > *{
    margin: .2rem;
}

/* 
main{
    


} */

/* Header */

.header-nav{
    background: rgba(0, 163, 0, 0.308);
    
    margin-left: 0;
    padding: 1rem .4rem;

}
.nav-btn {
    border: 1px solid rgba(0, 0, 0, 0.733);
    background: white;
    border-radius: 4px;
    margin: 0;
    padding: .2rem;
    cursor: pointer;
}
.nav-btn:hover{
    background: rgba(0, 0, 255, 0.178);
}


/* Header End */

/* Footer */

.footer-nav{
    position: relative;
    bottom: 0;
    left: 0;
    
}


/* Footer End */




/* Index Page */
.head-h1{
    color: red;
    border: 4px double black;
    background: rgb(224, 224, 224);
    border-radius: 10px;
    width: fit-content;
    padding: 0 .5rem;
    line-height: 80%;

}
#potd{
    border: 1px solid black;
    color: rgb(15, 15, 15);
    margin: .3rem;
    padding: .2rem;
    cursor: pointer;
}
#potd:hover{
    background: rgba(0, 128, 0, 0.418);

}

.card{

    border: 4px double black;
    background: rgb(240, 240, 240);
    width: 300px;
    padding: .5rem;
    text-align: center;
    color: rgb(61, 61, 61);
    border-radius: 8px;
    cursor: pointer;
    transition: all .75s;


}

.card:hover{
    transform: scale(1.1) translateX(30px);
    background: rgba(9, 167, 17, 0.418);
    
}


#choices{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 90%;

}

.invalid{
    transform:unset important;
    background: white important;
    color: red important;
}
 .invalid:hover{
    transform:unset important;
    background: white important;
    color: red important;
 }






/* Index Page End */





.card-test{
    color: blue;
    border: 1px solid black;
    width: fit-content;
    padding: .5rem;
    cursor: pointer;


}

.card-test:hover{
    transform: scale(1.1);


}
img{
    height: 200px;
    width:200px;

}

.img-200{
    
}

.answer-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; 
    margin: auto;
}

.correct{
    color: rgb(9, 233, 9);
    
}
.incorrect{
    color: red;
    width: fit-content;
}









